<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Add Appointment Page</title>
    <link rel="stylesheet" type="text/css" href="/testTemplates/testTemplatesstyles/style.css" />

    <style>
        *{
            margin: 0;
            padding: 0;
            outline: none;
            box-sizing: border-box;
            list-style: none;
            text-decoration: none;
        }

        body{
            height:100%;
            width:100%;
            background:beige !important;
        }

        html {
            font-size: 62.5%;
        }
    </style>

</head>
<div style="background: white;">
    <form method="POST">

        <label class ="mainLabel" for="loginUsername">Username: </label>
        <input class="mainInput" type="text" id="loginUsername" name="loginUsername">
        <br>

        <label class ="mainLabel" for="loginPassword">Password: </label>
        <input class="mainInput" type="text" id="loginPassword" name="loginPassword">
        <br>

        <input class="actionButton" type="Login" style="display:block">
        
    </form>
</div>
<br>
